
@model IEnumerable<Web01.Entities.ProductoEnt>
<!--IEnumerable documentacion estandar-->


@{
    ViewBag.Title = "Consultar Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Informacion de los productos</h4>

            <a href="@Url.Action("RegistrarProducto","Producto")" class="btn btn-primary">Agregar</a>
            <br />
            <br />
            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-secondary" role="alert" style="text-align:center">
                    @ViewBag.Mensaje
                </div>
            }
            <table id="tableData" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Vista Previa</th>
                        <th>Cambiar Estado</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)//Model == Modelo traido desde el controlador
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Precio</td>

                            @if (item.Estado)
                            {
                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }
                            <td class="text-center"><img src="@item.Imagen" style="width:150px; height:150px; border-radius:0px"></td>
                            <td style="text-align:center"><a href="@Url.Action("ActualizarEstadoProducto","Producto", new {q = item.ConProducto})"><i class="fa fa-exchange fa-lg"></i></a></td>
                            <td style="text-align:center"><a href="@Url.Action("ActualizarProducto","Producto", new {q = item.ConProducto})"><i class="fa fa-user fa-lg"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/FuncionesJS/DataTables.js"></script>
<script>
    $(document).ready(function () {
        new DataTable('#tableData')
        });


    
</script>